* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  border: 1px black solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 5%;
}
.hero-text h1 {
  margin-top: 20px;
  font-size: 3.5rem;
  z-index: 1;
  position: relative;
  color: black;
}
.hero-text p {
  font-size: 1.25rem;
  z-index: 1;
  position: relative;
  color: black;
}
.cta-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black;
}

header nav a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 600;
  border-radius: 99px;
  padding: 10px;
}
header nav a.active {
  color: white;
  background-color: black;
}
header nav a:hover {
  color: white;
  background-color: black;
}

header nav:hover > a:not(:hover) {
  color: black;
  background-color: bisque;
}
.cloud {
  height: 125vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
/*Animation that moves the background*/
@keyframes jigglyBackground {
  0% {
    background-position: 50% 50%;
  }
  25% {
    background-position: 52% 48%;
  }
  50% {
    background-position: 48% 52%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 50% 50%;
  }
}

.heropage {
  background-image: url("/Project/pics/assets/1x/Asset 16.png"),
    url("./pics/assets/1x/patches.png"), url("./pics/assets/1x/Asset 13.png");
  background-size: cover, contain, cover;
  background-position: 0% 0%, center left, center;
  background-repeat: no-repeat, no-repeat, no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  color: white;
  text-align: left;
  padding-left: 20px;
  animation: jigglyBackground 20s linear infinite;
}

.flowers {
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  height: auto;
  margin-left: 10%;
}
